{% if drone_server_host is defined %}
DRONE_SERVER_HOST={{ drone_server_host }}
{% endif %}
{% if drone_server_proto is defined %}
DRONE_SERVER_PROTO={{ drone_server_proto }}
{% endif %}
DRONE_TLS_AUTOCERT=false
{% if drone_rpc_secret is defined %}
DRONE_RPC_SECRET={{ drone_rpc_secret }}
{% endif %}
DRONE_AGENTS_ENABLED=true
DRONE_GITHUB_SERVER=https://github.com
{% if drone_github_client_id is defined %}
DRONE_GITHUB_CLIENT_ID={{ drone_github_client_id }}
{% endif %}
{% if drone_github_client_secret is defined %}
DRONE_GITHUB_CLIENT_SECRET={{ drone_github_client_secret }}
{% endif %}
{% if drone_logs_pretty is defined %}
DRONE_LOGS_PRETTY={{ drone_logs_pretty }}
{% endif %}
{% if drone_logs_color is defined %}
DRONE_LOGS_COLOR={{ drone_logs_color }}
{% endif %}
DRONE_LOGS_DEBUG=true
