{% if drone_rpc_server is defined %}
DRONE_RPC_SERVER={{ drone_rpc_server }}
{% endif %}
{% if drone_rpc_secret is defined %}
DRONE_RPC_SECRET={{ drone_rpc_secret }}
{% endif %}
{% if drone_runner_capacity is defined %}
DRONE_RUNNER_CAPACITY={{ drone_runner_capacity }}
{% endif %}
DRONE_LOGS_DEBUG=true
